<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><!--jdists encoding="ejs" data="#context"--><%- h5.name %><!--/jdists--></title>
  <link href="favicon.ico" type="image/x-icon" rel="shortcut icon">
  <link rel="stylesheet" type="text/css" href="css/base.css">
  <script>
  /*<remove>*/
  /*<jdists encoding="ejs,regex" data="#context" pattern="/~/g" replacement="--">
    <!~jdists import="css/base.css" export="<%- output%>/css/base.css" /~>
  </jdists>*/
  /*</remove>*/
  /*<jdists encoding="ejs,uglify" data="#context">*/
  (function () {
      var ratio = screen.width / <%- h5.width %>;
      document.write('<meta name="viewport"content="width=' + <%- h5.width %> +
        ',initial-scale=' + ratio +
        ',maximum-scale=' + ratio +
        ', minimum-scale=' + ratio +
        ',user-scalable=no,target-densitydpi=device-dpi,minimal-ui"/>');
  })();
  /*</jdists>*/
  </script>
</head>
<body>
  <div class="container">
    <div class="page">
      <!--jdists encoding="ejs" data="#context"-->
      <%
      h5.layers.forEach(function (layer) {
        var title = '';
        if (showTitle && layer.name) {
          title = 'title="' + layer.name + '" ';
        }
        var opacity = '';
        if (!isNaN(layer.opacity) && layer.opacity !== 1) {
          opacity = 'opacity:' + layer.opacity.toFixed(2) + ';';
        }

        var color = '';
        if (layer.text && layer.text.font && layer.text.font.colors) {
          // [0, 204, 51, 255]
          var value = layer.text.font.colors[0];
          if (value) {
            if (value[3] === 255) {
              color = 'color:#' + value.slice(0, -1).map(function (value) {
                return (0x100 + parseInt(value)).toString(16).slice(1);
              }).join('').replace(/(.)\1(.)\2(.)\3/, '$1$2$3') + ';';
            } else {
              color = 'color:rgba(' + value.join() + ');';
            }
          }
      %>
      <p class="layer" <%- title%>style="left:<%- layer.left%>px;top:<%- layer.top%>px;font-size:<%- layer.text.font.sizes[0] %>px;<%- color%><%- opacity%>"><%= layer.text.value %></p>
      <%
        } else {
      %>
      <img class="layer" src="<%- layer.image %>" <%- title%>style="left:<%- layer.left%>px;top:<%- layer.top%>px;<%- opacity%>">
      <%
        }
      %>
      <%
      });
      %>
      <!--/jdists-->
    </div>
  </div>
</body>
</html>
